/* .jumbotron{
    background: url(https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center / cover;
    margin-bottom: 0;
} */

.carousel-item img{
    background-size: cover;
    height: 100vh;
}

.path{
    background-color: #ccc;
}

.path .breadcrumb{
    background-color: transparent;
}

.footer{
    background-color: #ccc;
    padding: 20px 0;
}